{
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"react/display-name": 0,
		"react/prop-types": 0,
		"no-undef": 0
	},
	"parser": "babel-eslint",
	"globals": {
		"React": "writable"
	}
}
